
build/
cmake-build-*/
*.exe
*.app
*.dll
*.so
*.dylib

.idea/
*.iws
*.iml

*.pro.user
*.pro.user.*
*.qrc.d
moc_*
qrc_*
ui_*
*.autosave

*.o
*.obj
*.patch
*.orig

Debug/
Release/
*.lib
*.a

.DS_Store
Thumbs.db

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile